@import "../variables";

.register {
  background-color: #231e3d;
  min-height: 400px;
  padding-top: 10px;
  padding-bottom: 30px;
  & > h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .col-12 {
    display: flex;
    align-items: center;
    flex-direction: column;
    input {
      width: 360px;
      max-width: 90%;
      padding: 17px 15px;
      border: 0;
      color: #fff;
      border-radius: 6px;
      margin-top: 7px;
      margin-bottom: 7px;
      text-align: left;
      font-size: 13pt;
      font-family: montserrat-light, sans-serif;
      outline: 0;
      background-color: #2b2649;
    }
    button {
      padding: 14px 50px;
      color: #fff;
      font-size: 15px;
      background-color: #6713af;
      border: 0;
      border-radius: 6px;
      outline: 0;
      transition: $main_transition;
      font-weight: 600;
      margin-top: 30px;
      &:hover {
        background-color: #7718c7;
      }
    }
  }
}
